@charset "utf-8";
@use '_mixin';

.wrap {
  width: 100%;
  height: 100%;
  background-color: var(--bg);
  padding: 0;
}

.topArea {
  width: 100%;
  height: 48px;
  display: flex;
  padding: 0 24px;
  background-color: var(--white);
  border-bottom: 1px solid var(--gray70);
  
  .logo {
    width: 320px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    color: var(--gray10);
  }
  .nav {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 36px;
    height: 48px;

    li {
      font-size: 16px;
      font-weight: 500;
      color: var(--gray10);
    }
    .act, a:hover {
      font-weight: 700;
      color: var(--gray5);
    }
  }
  .userInfo {
    display: flex;
    align-items: center;
    gap: 12px;
    span {
      font-size: 13px;
      color: var(--gray10);
    }
    .name {
      display: flex;
      align-items: center;
      gap: 12px;
      font-weight: 600;
      color: var(--gray5);
      &::after {
        content: "";
        display: block;
        width: 1px;
        height: 12px;
        background-color: var(--gray70);
      }
    }
    .ic_logout {
      &::before{
        width: 30px;
        height: 30px;
      }
    }
    .ic:hover {background-color: transparent;}
  }
}

.container {
  width: 100%;
  height: calc(100% - 48px);
  display: flex;

  .LnbArea {
    position: relative;
    width: 320px;
    display: flex;
    flex-direction: column;
    padding: 24px 16px;
    border-right: 1px solid var(--gray70);
    background-color: var(--white);

    .tab {
      display: flex;
      height: 48px;
      li {
        flex: 1;
        text-align: center;
      }
    }
    .tabContainer {
      flex: 1;
      display: grid;
      grid-template-rows: 40px 1fr;
      gap: 16px;
      .searchBox {
        display: flex;
        gap: 4px;
        .inpBox {
          flex: 1;
        }
      }
      .treeArea {
        border: solid 1px var(--line);
      }
    }

    .btnFold {
      position: absolute;
      top: 50%;
      left: 100%;
    }
  }
}